# The host name used as primary hostname
HOSTNAME=lists.mediabirodalom.com

# The IP address used for sending and receiving messages
IPADDRESS=80.77.122.208

# MySQL connectivity data
hide	mysql_servers	=	localhost/listserver/listserver/yourpassword

# MySQL queries

# Queries for list submissions
QUERY_LISTLOOKUP=SELECT id FROM lists WHERE localpart='${quote_mysql:$ACL_LOCALPART}' AND domain='${quote_mysql:$ACL_DOMAIN}'
QUERY_LISTPOLICY=SELECT sendpolicy FROM lists WHERE id='${quote_mysql:$ACL_LISTID}';
QUERY_ISMEMBER=SELECT id FROM listsubscribers WHERE list_id='${quote_mysql:$ACL_LISTID}' AND subscriber_email='${quote_mysql:$ACL_SENDER}' AND awaitingapproval=0;
QUERY_ISADMIN=SELECT admin FROM listsubscribers WHERE list_id='${quote_mysql:$ACL_LISTID}' AND subscriber_email='${quote_mysql:$ACL_SENDER}' AND awaitingapproval=0;
QUERY_LISTMEMBERS=SELECT subscriber_email FROM listsubscribers WHERE list_id='${quote_mysql:$ACL_LISTID}' AND awaitingapproval=0;
QUERY_LISTADMINS=SELECT subscriber_email FROM listsubscribers WHERE list_id='${quote_mysql:$ACL_LISTID}' AND awaitingapproval=0 AND admin=1;

# Log files
log_file_path		=	/var/log/exim.lists/exim_%slog

# Spool directory
spool_directory		=	/var/spool/exim.lists

# PID file
pid_file_path		=	/var/run/exim.lists.pid